extends ../layouts/simple.layout.pug
block variables
block content
  .container
    include ../components/manager.menu.pug
    br
    form#newPostForm(action=post? '/posts/'+post._id+'.json': '/posts.json' enctype='multipart/form-data' method=post? 'PUT' : 'POST')
      .form-group
        label(for='title') Заголовок
        input#title.form-control(name='title' value=post? post.title: "" type='text' placeholder='Заголовок')
        small#titleHelp.form-text.text-muted Введіть заголовок поста #[span.text-danger]
      .form-group
        #image-preview 
        label(for='image') Картинка
        input#image.form-control(name='image' type='file' placeholder='Картинка')
        small#imageHelp.form-text.text-muted Завантижити картинку #[span.text-danger]
      .form-group
        label(for='info') Автор
        input#info.form-control(name='info' value=post? post.info: "" type='text' placeholder='Автор')
        small#infoHelp.form-text.text-muted Введіть І'мя автора поста #[span.text-danger]
      .form-group
        label(for='category') Категорія
        select.form-control(name='category')
          each category in categories
            if(post && category.name == post.category)
              option(value=category.name selected='selected')=category.name
            else
            option(value=category.name)=category.name
        //input#category.form-control(name='category' value=post? post.category: "" type='text' placeholder='Категорія')
        small#categoryHelp.form-text.text-muted Введіть категорію поста #[span.text-danger]
      .form-group
        label(for='intro') Вступ
        textarea#intro.form-control(name='intro' type='text' placeholder='Текст' rows='5')=post? post.intro: ''
        small#introHelp.form-text.text-muted Введіть текст поста #[span.text-danger]
      button.btn.btn-primary(type='submit')=post? 'Оновити' : 'Зберегти'
